<div class="root">
  <div style="position: fixed; top:0; left: 0; z-index: 9999">
    <button type="button" (click)="changeMap();">map 1</button>
    <button type="button" (click)="changeMap2();">map 2</button>
  </div>

  <div class="container-canvas">
    <app-floor-canvas [options]="options"
                      colorPoint="cornflowerblue"></app-floor-canvas>
  </div>


  <!--<h1>SVG</h1>-->
  <!--<img src="/assets/img/1x-svg.svg" alt="sss">-->

  <!--<h1>CANVAS NATIVE</h1>-->
  <!--<app-floor-canvas-native *ngIf="options" [options]="options"></app-floor-canvas-native>-->
</div>
